*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h2{
    font-family: sans-serif;
    text-align: center;
    margin-top: 8em;
    font-size: 1.8em
}

.btn{
    padding: 20px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    cursor: pointer;
    background: #181818;
    border: none;
    margin-top: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}