*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #333;
}

table{
    margin: 250px auto;
}

td, tr, th{
    padding: 25px 70px;
    border: 1px solid white;
    color: white;
    font-size: 1.2em;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 1.3em;
    background: #333;
    border: 2px solid orange;
    color: white;
}

.budget{
    color: white;
    font-size: 1.3em;
    padding: 10px;
}

#color{
    color: rgb(223, 223, 79);
}

.green{
    background: green;
}

.date{
    color: white;
    font-size: 1.4em;
    text-align: center;
}