*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    font-family: sans-serif;
}

.container{
    width: 760px;
    height: 500px;
    border: 1px solid #333;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .haut{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.container .haut .first{
    width: 200px;
    height: 100%;
    cursor: pointer;
}

.container .haut .first:not(:nth-child(3)){
    border-right: 1px solid #333;
}

.container .mid{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.container .mid h2{
    padding-top: 25px;
    color: white;
}

.container .mid img{
    width: 50%;
}